body {
    margin: 0;
}
.wrapper {
    min-height: 100vh;
    background-color: #999999;
}
.container {
    width: 60%;
    height: 70%;
    margin: 0 auto;
}
.header {
    background-color: #ff8663;
}
